//-------------------------FOOTER---------------------
.site-footer {
  color: #ffffff;
  background-color: #303d4a;

  .site-info-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #44505b;

  }

  .widget_nav_menu {
    margin-bottom: 20px;
    text-align: center;

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      font: 12px GothamProBold;
      color:inherit;
      text-transform: uppercase;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .link-donate {
    border-color: transparent;
    background-color: #ffffff;

    &:hover {
      background-color: $color-primary;
    }
  }

  .site-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .site-title {
    width: 155px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .social-link {
    margin-bottom: 15px;
  }

  .copyright {
    font: 14px $font-content;
    color: #a6b6c8;
  }
}