//---------------------------------------------
//------------DONATE (+REPORT) PAGE------------
//---------------------------------------------

.donate-content,
.reports-content {
  padding: 40px 0 40px;

  header {
    margin-bottom: 20px;
    text-align: center;

    h1 {
      margin-bottom: 10px;
      font: 24px/30px GothamProBlack;
      color: #171617;
    }

    p {
      font: 14px/1.5em $font-content;
      color: #696e72;
    }
  }

  .block {
    margin-bottom: 30px;
    height: 100%;
    padding: 40px 20px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    background-color: #eff2f7;

    h2 {
      margin-bottom: 25px;
      font: 22px/26px GothamProBold;
      color: #343434;
    }
  }

  .bank-details  {

    .block {
      padding-bottom: 20px;
    }

    li {
      margin-bottom: 10px;
      font: 14px/1.5em $font-content;
      color: #696e72;
    }
  }

  .online-payment {
    text-align: center;

    form {
      position: relative;
      width: 100%;
    }

    input {
      width: 100%;
      margin-bottom: 30px;
      padding: 0 50px 0 20px;
      font: 14px/4em GothamProBold;
      color: #171617;
      text-transform: uppercase;
      border-radius: 4px;
      border: 1px solid #e5e5e5;
      background-color: #ffffff;

      &::-webkit-input-placeholder,
      &::-webkit-input-placeholder {
        color: #a6b6c8;
      }

      &::-moz-placeholder,
      &::-moz-placeholder {
        color: #a6b6c8;
      }

      &:-moz-placeholder,
      &:-moz-placeholder {
        color: #a6b6c8;
      }

      &:-ms-input-placeholder,
      &:-ms-input-placeholder {
        color: #a6b6c8;
      }
    }

    .price-label {
      position: absolute;
      top: 0;
      right: 20px;
      font: 15px/4em GothamProBold;
      color: #171617;
      text-transform: uppercase;
    }

    .payment {
      display: inline-block;
      padding: 0 25px;
      font: 15px/4em GothamProBold;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 26px;
      border: 0;
      background-color: $color-primary;
      transition: all ease 0.25s;

      &:hover {
        padding: 0 31px;
      }
    }

  }

  .file-link {
    position: relative;
    display: block;
    margin-left: 25px;
    padding: 20px 0;
    font: 14px/1.2em GothamProBold;
    color: #343434;
    border-bottom: 1px solid #eeeeee;

    &:before {
      position: absolute;
      top: 20px;
      left: -25px;
      content: "\e900";
      font: 15px 'icomoon';
      color: #bebebe;
    }

    &:hover {
      color: $color-second-text;
    }
  }
}

.donate-content {
  padding-bottom: 10px;

  header {
    margin-bottom: 40px;
  }
}

