//---------------------------------------------
//------------404 PAGE (+ NEWS SENT)------------
//---------------------------------------------

.error-404-content,
.news-sent-content {
  padding-top: 40px;

  .front-social-section {
    padding-top: 0;
  }

  .important-news-section {
    background-color: #eff2f7;
  }
}

.error-404,
.news-sent {
  padding-bottom: 40px;
  text-align: center;

  h1{
    margin-bottom: 10px;
    color: #171617;
    font: 24px/30px GothamProBlack;
  }

  p {
    margin-bottom: 30px;
    color: #696e72;
    font:14px/1.5em $font-content;
  }

  .link-front-page {
    color: #ffffff;
  }
}
