.section {
  padding: 40px 0;
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;

  h1, h2 {
    font: 22px/1em GothamProBlack;
    margin-right: 1em;
  }

  .link-all-articles {
    padding-bottom: 5px;
    font: 19px GothamProBlack;
    color: inherit;
    border-bottom: 4px solid $color-primary;
    transition: all 0.2s ease;

    &:after {
      content: "  \e908";
      font: normal 12px 'icomoon';
      color: $color-primary;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover:after {
      margin-left: 10px;
    }
  }
}

.img-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all ease 0.5s;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

//-------------------------WELCOME---------------------

.top-block {

  .last-news {
    background-color: #ffffff;

    .wrapper {
      width: 100%;
      padding: 0 20px;
      color: #171617;

      h2 {
        display: block;
        padding: 30px 0;
        border-bottom: 1px solid #dedede;
      }

      article {
        .item-news {
          display: block;
          padding: 30px 0;
          border-bottom: 1px solid #dedede;

          &:hover {
            h3.title,
            h3.important-title {
              color: $color-second-text;
            }
          }
        }
      }

      h2 {
        display: none;
        font: 18px GothamProBold;
        text-transform: uppercase;
      }

      h3.title {
        font: 14px GothamProRegular;
      }

      h3.important-title {
        font: 14px GothamProBold;
      }
    }

    .bottom-wrapper {
      padding: 0 30px;
      text-align: center;
      background-color: $color-primary;
    }

    .link-all-articles {
      display: inline-block;
      font: 14px/4.5em GothamProBold;
      color: #ffffff;
      text-transform: uppercase;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:after {
        content: " \e908";
        font: normal 12px 'icomoon';
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      &:hover:after {
        margin-left: 10px;
      }

    }
  }
}

.welcome-section {
  color: #ffffff;

  .bg-dark {
    padding: 10px 0 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .flex-block {
    display: flex;
    height: auto;
    min-height: calc(100vh - 100px);
    align-items: center;
  }

  h1 {
    margin-bottom: 25px;
    font: 24px GothamProBlack;


    a {
      transition: all ease 0.5s;

      &:hover {
        color: $color-second-text;
        opacity: 0.9;
      }
    }
  }

  p {
    margin-bottom: 55px;
    font: 18px $font-content;
    opacity: 0.8;
  }
}

//-------------------------IMPORTANT-NEWS---------------------

.important-news-section {
  padding-bottom: 10px;

  .item-important-posts {
    margin-bottom: 30px;
    height: 340px;
    cursor: pointer;

    .item-wrapper {
      display: block;
      height: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #eeeeee;

      &:hover {
        .img-wrapper:after {
          background-color: #000000;
          opacity: 0.4;
          transition: all ease 0.5s;
        }
        h3 {
          color: $color-second-text;
        }
      }
    }

    h3 {
      margin-bottom: 10px;
      font: 18px/1.3em GothamProBold;
      color: #343434;
    }

    p {
      font: 14px/1.5em $font-content;
      color: #696e72;
    }

  }
}

//-------------------------STORY-SECTION---------------------
.front-story-section  {
  color: #ffffff;

  .bg-dark {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .section-header {
    opacity: 0.75;
  }

  h1 {
    font: 24px/1.2em GothamProBlack;
    margin-bottom: 10px;

    a {
      transition: all ease 0.5s;

      &:hover {
        color: $color-second-text;
        opacity: 0.9;
      }
    }
  }

  p {
    margin-bottom: 30px;
    font: 14px/1.5em $font-content;
    opacity: 0.8;
  }
}


//-------------------------SECTION-DONATE---------------------
.section-donate {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font: 22px GothamProBold;
    color: #171617;
  }
}

//-------------------------PROJECT-SECTION---------------------
.front-project-section {
  padding-bottom: 10px;
  background-color: #eff2f7;

  .first-item-project {
    display: none;
  }

  .item-project {
    margin-bottom: 30px;
    height: auto;
    max-height: 390px;
    cursor: pointer;

    a {
      display: block;

      &:hover {
        .img-wrapper:after {
          background-color: #000000;
          opacity: 0.4;
          transition: all ease 0.5s;
        }

        h3 {
          color: $color-second-text;
        }
      }
    }
  }

  h3 {
    margin-bottom: 10px;
    font: 18px GothamProBold;
    color: #343434;
  }

  p {
    opacity: 0.8;
    font: 14px/1.5em $font-content;
    color: #3e4144;;
  }
}


//-------------------------SOCIAL-SECTION---------------------
.front-social-section {
  padding-bottom: 0;
  text-align: center;

  h1, h2 {
    margin-bottom: 20px;
    font: 22px/26px GothamProBold;
    color: #171617;
  }

  h1 {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
      .wrapper {
        border-bottom: none;
      }
    }
  }

  .wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid #e2e7eb;
  }

  .color-blue {
    color: #2d4486;
    }

  .color-red {
    color: #d20c05;
  }

}
