//-----------------------------------------------------
//------------------------NEWS-PAGE--------------------
//-----------------------------------------------------

.page-news {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #171617;
  font: 14px GothamProRegular;

  aside {
   display: none;
  }

  h1 {
    text-align: center;
    font: 24px GothamProBlack;
  }

  .blog-nav {
    margin-top: 40px;
  }
}

.list-news {
  transition: height ease 1s;

  li {

    article {
      margin: 0;

      a {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        color: inherit;
        border-bottom: 1px solid  #eeeeee;

        h2{
          line-height: 1.2em;
        }

        &:hover {
          h2 {
            color: $color-second-text;
          }
        }
      }
    }
  }

  .info-news {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    .time,
    time {
      margin-right: 7px;
      font: 16px $font-content;
      font-weight: 700;
      color: #a6b6c8;
    }

    .important-label,
    .updated-label {
      margin-right: 7px;
      text-align: center;
      font-size: 11px;
    }
  }

  .important {
    font-family: GothamProBold;
  }

  .fa {
    color: #bfbfbf;
    font-size: 12px;
  }
}

.more-news {
  display: block;
  width: 100%;
  box-sizing: content-box;
  margin-left: -20px;
  margin-top: -4px;
  padding: 0 20px;
  font: 14px/4.5em GothamProBold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-primary;
  border: none;
  transition: all 0.2s ease;

  &:after {
    content: "\e904";
    margin-left: 12px;
    font-family: 'icomoon';
    font-size: 11px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover:after {
    margin-left: 22px;
  }
}