.page-news {
  padding-top: 60px;
  padding-bottom: 120px;
  color: #171617;
  font: 20px GothamProRegular;

  main
  {
    padding-right: 65px;
  }

  aside {
    h1 {
      margin-bottom: 30px;
    }
  }

  h1 {
    font: 48px GothamProBlack;
  }



  .blog-nav {
    margin-top: 50px;
  }
}

.list-news {
  transition: height ease 1s;

  li {

    article {
      margin: 0;

      a {
        display: flex;
        padding: 30px 0;
        color: inherit;
        border-bottom: 1px solid  #eeeeee;

        h2{
          line-height: 1.2em;
        }

        &:hover {
          h2 {
            color: $color-second-text;
          }
        }
      }
    }
  }

  .info-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 45px;

    .time,
    time {
      margin-right: 0;
      font: 16px $font-content;
      font-weight: 700;
      color: #a6b6c8;
    }

    .important-label,
    .updated-label {
      margin-bottom: 7px;
      margin-right: 0;
      text-align: center;
      font-size: 11px;
    }
  }

  .important {
    font-family: GothamProBold;
  }

  .fa {
    color: #bfbfbf;
    font-size: 12px;
  }
}

.more-news {
  display: block;
  width: 100%;
  margin-top: -4px;
  padding: 0 10px;
  font: 14px/4.5em GothamProBold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-primary;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:after {
    content: "\e904";
    margin-left: 12px;
    font-family: 'icomoon';
    font-size: 11px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover:after {
    margin-left: 22px;
  }


}