//-----------------------------------------------------
//----------------------SINGL-PAGE-------------------
//-----------------------------------------------------


//----------------------ARTICLE HEADER-------------------
.article-header {
  color: #171617;

  .header-wrap{
    width: 770px;
    max-width: 100%;
    margin: 0 auto;
    padding:0 20px;
    text-align: center;
  }

  h1 {
    margin:0 0 15px;
    font:24px/30px GothamProBlack;
  }

  p{
    margin-bottom: 15px;
    font: 18px/1.5em $font-content;
    color: #696e72;
  }

  time {
    font: bold 12px/1.7em $font-content;
    color: #a6b6c8;
    text-transform: uppercase;
  }

  .video-wrap {
    background-color: #eff2f7;

    iframe {
      display: block;
      max-width: 100%;
      height: 180px;
      margin: 0 auto;
    }
  }
}

.img-header {
  color: #ffffff;

  .bg-dark {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 0;
  }

  p{
    opacity: 0.8;
    color: #ffffff;
  }

  time {
    opacity: 0.5;
    color: #ffffff;
  }
}

.clear-header {
  padding: 40px 0 0;
}

.video-header {
  padding: 40px 0 0;
  .header-wrap {
    margin-bottom: 30px;
  }
}



//----------------------CONTENT-------------------
.single-content {
  width: 100%;
  padding-top: 30px;
  font:16px/24px $font-content;
  color: #242729;

  p, h1, h2, h3, h4, ul, ol, figcaption, blockquote {
    width: 770px;
    max-width: 100%;
    margin: 0 auto;
    padding:0 20px;
  }

  p,
  br,
  ul,
  ol {
    margin-bottom: 20px;
  }

  pre,
  blockquote,
  .youtube-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  pre {
    background-color: #ffffff;
  }

  figure {
    outline: none;
  }

  strong {
    font-weight: 700;
  }

  ol {
    list-style: decimal;
    padding-left: 50px;
  }

  ul {
    list-style: disc;
    padding-left: 50px;
  }

  em {
    font-style: italic;
  }


  //----------------------LINK-------------------
  a {
    color: #fc2e39;
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, #ff9191, #ff9191);
    background-size: 100%;
    background-position: 0 25px;
    transition: all .4s ease;

    &:hover{
      background-image: linear-gradient(270deg, #ffdada, #ffdada);
      background-position: 0 0;
    }
  }

  //----------------------TITLES-------------------
  h1,
  h2,
  h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #121212;
  }

  h1 {
    font: 800 26px/30px $font-content;
  }

  h2 {
    font: 800 22px/30px $font-content;
  }

  h3 {
    font: 800 18px/1.2em $font-content;
  }

  //----------------------blockquote-------------------

  blockquote {
    padding: 20px;
    font: italic 18px/28px $font-second;
    font-weight: 700;
    color: #393939;
    text-align: center;
  }

  .quote-type1 {
    position: relative;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    padding: 15px 0;
    text-align: left;
    font-weight: 400;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      content: "";
      width: 4px;
      background-color: $color-primary;

    }
  }

  .quote-type2 {
    position: relative;
    width: auto;
    max-width: 100%;
    margin: 30px 20px;
    padding: 45px 20px 30px;
    text-align: center;
    border-radius: 8px;
    background-color: #f0f3f8;

    blockquote {
      padding: 0;
      margin: 0;
      margin-bottom: 25px;
    }

    cite {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name{
        font:bold 18px/30px $font-content;
        color: #242729;
      }

      .description {
        display: block;
        font: 14px/2em $font-content;
        opacity: 0.8;
        color: #696e72;
      }
    }

    .author-wrap {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #a6b6c8;

      img {
        width: 100%;
        height: auto;
      }
    }

    &:before {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      content: "\e909";
      display: block;
      width: 50px;
      height: 50px;
      padding: 10px 0;
      font-family: 'icomoon';
      font-size: 16px;
      color: $color-primary;
      text-align: center;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  //----------------------VIDEO-------------------
  .youtube-wrapper {
    iframe {
      display: block;
      width: 970px;
      max-width: 100%;
      height: 180px;
      margin: 0 auto;
    }
  }

  .instagram-media {
    margin: 0 auto !important;
  }


  //----------------------IMAGES-------------------
  figure {
    min-width: 100%;

    figcaption {
      font: italic 12px $font-content;
      opacity: 0.8;
      color: #696e72;
      text-align: left;
    }

    .wp-caption-text {
      margin: 5px auto 0;
    }
  }

  img.size-full {
    width: 100% !important;
    max-width: 100% !important;
  }

  img.size-large {
    display: block;
    width: 970px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  img.size-medium {
    display: block;
    width: 770px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }


  //----------------------GALLERY-------------------
  .gallery {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 5px;

    figure {
      min-width: 20px;
    }

    .gallery-item {
      padding: 0 5px 10px;
    }

    img{
      padding: 0;
    }

    a {
      border: 0;
    }
  }

  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item {
    max-width: 50%;
  }

  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-8 .gallery-item {
    max-width: 50%;
  }


  //----------------------SLIDER-------------------
  .gallery-columns-1 {
    padding: 0;

    .gallery-item {
      padding: 0 10px 10px;
    }

    .slick-prev,
    .slick-next {
      width: 10%;
      height: auto;
      top:0;
      bottom: 0;
      transform: translate(0,0);
      transform: translateY(-7%);

      &:before {
        margin:0;
        font: 15px 'icomoon';
        opacity: 0;
        transition: all ease 0.5s;
      }

      &:hover:before {
        opacity: 1;
        transition: all ease 0.5s;
      }
    }

    .slick-next {
      right: 0;
      text-align: right;

      &:before {
        content: "\e90e";
      }

      &:hover:before {
        margin-right: 5px;
      }
    }

    .slick-prev {
      left:0;
      z-index: 2;
      text-align: left;

      &:before {
        content: "\e90d";
      }

      &:hover:before {
        margin-left: 5px;
      }
    }

    .pagingInfo {
      display: none;
      margin-top: 5px;
      font: italic 12px $font-content;
      opacity: 0.8;
      color: #696e72;
      text-align: right;
    }

    .slick-current {
      .pagingInfo {
        display: block;
      }
    }
  }
}

//----------------------TAGS LIST-------------------
.tags-list {
  width: auto;
  margin: 40px 20px 30px;
  padding: 0 0 30px;
  border-bottom: 1px solid #e5e5e5;

  a{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 1.5em;
    font: bold 11px/3em $font-content;
    color: #242729;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    background: transparent;


    &:hover{
      color: $color-second-text;
      border-color: $color-second-text;
      background: transparent;
    }
  }
}


//----------------------GETSOCIAL-------------------
.getsocial {
  width: auto;
  max-width: 100%;
  margin: 0 20px 30px;

  .gs-buttons.gs-round a[class*="gs-"] {
    border-radius: 20px;
  }

  .gs-buttons a[class*="gs-"]:not(.gs-plus) i,
  .gs-buttons a[class*="gs-"]:not(.gs-hide) i {

    &:after {
      width: 0;
    }
  }

  .gs-buttons.gs-flat-colors.gs-medium a[class*="gs-"] {
    padding: 10px 20px;
    margin-right: 10px;
  }

  a.gs-plus{
    display: none !important;
  }
}


//----------------------RELATED POSTS-------------------
.related-post {
  padding: 40px 0 0;
  background-color: #eff2f7;

  h2 {
    margin-bottom: 30px;
    font: bold 16px/1.2em $font-content;
    text-align: center;
    color: #242729;
    text-transform: uppercase;
  }

  .related-item {
    margin-bottom: 30px;
    max-height: 330px;
    overflow: hidden;
    cursor: pointer;

    .item-wrapper {
      display: block;
      height: 100%;
      padding-bottom: 10px;

      &:hover {
        .img-wrapper:after {
          background-color: #000000;
          opacity: 0.4;
          transition: all ease 0.5s;
        }

        h3 {
          color: $color-second-text;
        }
      }
    }

    h3 {
      margin-bottom: 10px;
      font: 18px/1.3em GothamProBold;
      color: #343434;
    }

    p {
      font: 14px/1.5em $font-content;
      color: #696e72;
    }
  }


  //---------------------- IMAGE POPUP-------------------
  .image-popup {
    display: block;
    overflow: hidden;
    background-image: none;

    &:hover {
      background-image: none;
    }

    &:focus {
      outline: none;
    }
  }
}
