.article-header {
  color: #171617;

  .header-wrap{
    width: 770px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-bottom: 30px;
    font:50px/1.4em GothamProBlack;
  }

  p{
    margin-bottom: 30px;
    font: 22px/1.5em $font-content;
    color: #696e72;
  }

  time {
    font: bold 12px/1.7em $font-content;
    color: #a6b6c8;
    text-transform: uppercase;
  }

  .video-wrap {
    background-color: #eff2f7;

    iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.img-header {
  padding: 140px 0;
  color: #ffffff;

  p{
    opacity: 0.8;
    color: #ffffff;
  }

  time {
    opacity: 0.5;
    color: #ffffff;
  }
}

.clear-header {
  padding: 80px 0 0;
}

.video-header {
  padding: 90px 0 0;
  .header-wrap {
    margin-bottom: 65px;
  }
}

.single-content {
  width: 100%;
  padding-top: 70px;
  font:18px/1.7em $font-content;
  color: #242729;

  p, h1, h2, h3, h4, ul, ol {
    width: 770px;
    margin: 0 auto;
  }

  strong {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    display: inline-block;
    color: $color-second;
    border-bottom: 1px solid $color-second;

    &:hover {
      color: #242729;
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: 20px;
    color: #121212;
  }

  h1 {
    font: bold 2.2em/1.2em $font-content;
  }

  h2 {
    font: bold 2em/1.2em $font-content;
  }

  h3 {
    font: bold 1.5em/1.2em $font-content;
  }

  p,
  br,
  ul,
  ol,
  pre {
    margin-bottom: 30px;
  }

  ul, ol {
    list-style: auto;
    padding-left: 50px;
  }

  figure {
   // width: 100% !important;
  }

  pre {
    background-color: transparent;
  }

  img.size-full {
    width: 100% !important;
    max-width: 100% !important;
  }

  img.size-large {
    display: block;
    width: 970px;
    margin: 0 auto;
  }

  img.size-medium {
    display: block;
    width: 770px;
    margin: 0 auto;
  }

  .gallery {
    .gallery-item {
      padding: 0 15px;

      a {
        cursor: initial;
      }
    }

    a {
      border: 0;
    }

    .slick-dots{
      position:absolute;
      top:5px;
      left:5px;
      background:yellow;
      padding:5px;
      opacity:0.8;
      border-radius:5px;
    }

    .slick-next {
      position: absolute;
      right: 4%;

      &:before {
       font-size: 30px;
        opacity: 1;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
