//-----------------------------------------------------
//-----------------SINGL PROJECT-PAGE------------------
//-----------------------------------------------------

.single-project-page {
  padding-top: 40px;
  padding-bottom: 10px;

  .blog-nav {
    margin-bottom: 30px;
  }
}

.project-title-section {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  .dark-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    filter: blur(7px);
  }

  .type {
    margin-bottom: 10px;
    font: 12px GothamProBold;
    opacity: 0.5;
    text-transform: uppercase;
  }


}
