.t-records {
	margin-bottom: 100px;
}
#allrecords a {
	background: none;
}

#allrecords ul {
	width: auto;
}

.single-content {
	.t-records {
		p, h1, h2, h3, h4, ul, ol, figcaption, blockquote {
			padding: 0;
		}
	}
}

.tilda-publishing {
	.single-content {
		padding-top: 0;
	}
}