*,
*:after,
*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{clear:both;}
section.si-icons{text-align:center;}
.si-icons span{display:inline-block;width:24px;height:24px;margin:10px;cursor:pointer;background-repeat:no-repeat;background-position:center center;}
.no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross{background-image:url('../png/hamburger.png')}