$light-primary-color: #414146;
$dark-primary-color: #424147;
$second-color: #ffe500;
ul {
  list-style: none;
}
//@import "reset";


.section {
  padding: 80px 0;
}
.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.site-header {

  .flex-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.welcom-section {
  height: calc(100vh - 200px);
  position: relative;

  .last-news {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;

    background-color: #ffffff;
  }
}

.important-news-section {
  .item-important-posts {
    cursor: pointer;
  }
}

.item-project {
  cursor: pointer;
}

.front-project-section {
  background-color: #aeb7bf;

}

.site-footer {
  color: #ffffff;
  background: #063259;
  .site-info-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 2px solid #ffffff;
  }
  .site-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

  }
}


.list-stories {
  li{
    cursor: pointer;
  }
}

.list-projects {
  .item-project {
    margin-bottom: 20px;

    .content-block {
      padding: 100px 0;
      overflow: hidden;
      background-size: cover;
      border-radius: 20px;
    }
  }
}