/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//$font-title:  "GothamProRegular";
$font-content: 'Open Sans', sans-serif;
$font-second: 'Merriweather', serif;
$color-primary:  #f6921e;
$color-second: #f61e1e;

@import "reset";

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.section {
  padding: 60px 0;
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;

  h1, h2 {
    font: 22px/1em GothamProBlack;
    margin-right: 2em;
  }

  .link-all-articles {
    padding-bottom: 5px;
    font: 14px $font-content;
    font-weight: 700;
    color: inherit;
    border-bottom: 4px solid $color-primary;

    &:after {
      content: "\f061";
      margin-left: 1em;
      font-family: FontAwesome;
    }
  }
}

.link-donate,
.link-detailed {
  display: inline-block;
  padding: 0 35px;
  font: 15px/4em GothamProBold;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid $color-second;
}

.link-donate {
  &:visited,
  &:active {
    color: $color-second;
  }

  &:hover {
    color: #ffffff;
    background-color: $color-second;
  }
}

.link-detailed {
  padding: 0 30px;
  color: $color-primary;
  border-color: $color-primary;

  &:visited,
  &:active {
    color: $color-primary;
  }

  &:hover {
    color: #ffffff;
    background-color: $color-primary
  }
}

.social-link {

  li {
    display: inline-block;
  }

  a {
    padding: 5px;
    font-size: 20px;
    color: #a6b6c8;
  }
}

.img-wrapper {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}


//--------------------------------HEADER----------------------
.site-header {
  padding: 30px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .flex-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .site-title {
    width: 154px;
    height: 40px;
    overflow: hidden;
  }

  .menu-toggle {
    font-size: 1.5em;
    background-color: transparent;
    border: none;
  }

  .main-navigation {
    width: auto;
    font: 16px/1.8em GothamProBold;
    text-transform: uppercase;


    a {
      margin: 0 15px;
      color: #171617;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #f6921e;
      }
    }
  }

  .current_page_item {
    a {
      border-bottom: 2px solid #f6921e;
    }
  }
}

//-------------------------WELCOME---------------------

.top-block {

  .last-news {
    background-color: #ffffff;

    .wrapper {
      width: 100%;
      padding: 0 30px;
      color: #171617;

      h2,
      article {
        padding: 25px 0;
        border-bottom: 1px solid #dedede;
      }

      h2 {
        display: none;
      }

      a.title {
        font: 14px GothamProRegular;
        color: inherit;
      }

      a.important-title {
        font: 14px GothamProBold;
      }
    }

    .info-news {
      margin-bottom: 10px;

      .time {
        margin-right: 5px;
        font: 12px $font-content;
        color: #53555a;
      }

      .fa {
        color: #bfbfbf;
        font-size: 12px;
      }

      .important-label,
      .updated-label {
        margin-right: 5px;
        padding: 0 5px;
        font: 10px/1.2em $font-content;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        background-color: $color-second;
        border-radius: 5px;
      }

      .updated-label {
        background-color: #7ca5e2;
      }
    }


    .bottom-wrapper {
      padding: 0 30px;
      text-align: center;
      background-color: $color-primary;
    }

    .link-all-articles {
      display: inline-block;
      font: 14px/4.5em GothamProBold;
      color: #ffffff;

      &:after {
        content: "\f061";
        margin-left: 1em;
        font-family: FontAwesome;
      }

    }
  }
}

.welcome-section {
  height: calc(100vh - 100px);
  padding: 60px 0 30px;
  color: #ffffff;

  h1 {
    margin-bottom: 25px;
    font: 24px GothamProBlack;
  }

  p {
    margin-bottom: 35px;
    font: 18px $font-content;
    opacity: 0.8;
  }
}

//-------------------------IMPORTANT-NEWS---------------------

.important-news-section {

  .item-important-posts {
    margin-bottom: 60px;
    height: 340px;
    cursor: pointer;

    .item-wrapper {
      height: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #eeeeee;
    }

    .img-wrapper {
      height: 146px;
    }

    h3 {
      margin-bottom: 10px;
      font: 18px/1.3em GothamProBold;
      color: #343434;
    }

    p {
      font: 14px/1.5em $font-content;
      color: #696e72;
    }

  }
}

//-------------------------STORY-SECTION---------------------
.front-story-section  {
  color: #ffffff;

  .section-header {
    opacity: 0.75;
  }

  h1 {
    font: 24px/1.2em GothamProBlack;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
    font: 18px/1.5em $font-content;
    opacity: 0.8;
  }
}


//-------------------------SECTION-DONATE---------------------
.section-donate {
  text-align: center;

  h1 {
    margin-bottom: 30px;
    font: 20px GothamProBold;
    color: #171617;
  }
}

//-------------------------PROJECT-SECTION---------------------
.front-project-section {
  background-color: #eff2f7;

  .item-project {
    height: 350px;
    cursor: pointer;
  }

  .img-wrapper {
    height: 208px;
  }

  h3 {
    margin-bottom: 10px;
    font: 18px GothamProBold;
    color: #343434;
  }

  p {
    opacity: 0.8;
    font: 14px/1.5em $font-content;
    color: #3e4144;;
  }
}


//-------------------------SOCIAL-SECTION---------------------
.front-social-section {
  text-align: center;

  h1 {
    margin-bottom: 30px;
    font: 20px GothamProBold;
    color: #171617;
  }


  h2 {
    margin-bottom: 20px;
    font: 14px GothamProBold;
    color: #171617;
  }

  #text-5 {
    padding: 45px 35px;
    border-radius: 2px;
    border: 1px solid #e2e7eb;

    .color {
      color: $color-second;
    }
  }
}


.site-footer {
  color: #ffffff;
  background-color: #303d4a;

  .site-info-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #44505b;
  }

  .widget_nav_menu {
    margin-bottom: auto;
    margin-top: auto;

    li {
      display: inline-block;
    }

    a {
      padding: 10px;
      font: 14px GothamProBold;
      color:inherit;
      text-transform: uppercase;
    }
  }

  .link-donate {
    border-color: transparent;
    background-color: #ffffff;
  }

  .site-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .site-title {
    width: 155px;
    height: 40px;
    overflow: hidden;
  }

  .copyright {
    font: 14px $font-content;
    color: #a6b6c8;
  }

}


.list-stories,
.list-episodes {
  li{
    cursor: pointer;
  }
}

.list-projects {
  .item-project {
    margin-bottom: 20px;

    .content-block {
      padding: 100px 0;
      overflow: hidden;
      background-size: cover;
      border-radius: 20px;
    }
  }
}

@import "responsive/media768";
@import "responsive/media992";
@import "responsive/media1200";
@import "responsive/media1400";