/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBlack"; */
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLight"; */
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProMediumItalic"; */
@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBoldItalic"; */
@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBlackItalic"; */
@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover, a:focus {
  text-decoration: none; }

.site-content {
  padding-top: 130px; }

main h1 {
  font: 48px GothamProBlack; }

.link-donate,
.link-detailed {
  display: inline-block;
  padding: 0 35px;
  font: 15px/4em GothamProBold;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid #f61e1e; }

.link-donate:visited, .link-donate:active {
  color: #f61e1e; }

.link-donate:hover {
  color: #ffffff;
  background-color: #f61e1e; }

.link-detailed {
  padding: 0 30px;
  color: #f6921e;
  border-color: #f6921e; }
  .link-detailed:visited, .link-detailed:active {
    color: #f6921e; }
  .link-detailed:hover {
    color: #ffffff;
    background-color: #f6921e; }

.social-link li {
  display: inline-block; }

.social-link a {
  padding: 5px;
  font-size: 20px;
  color: #a6b6c8; }

.info-news {
  margin-bottom: 10px; }
  .info-news .time,
  .info-news time {
    margin-right: 5px;
    font: 12px "Open Sans", sans-serif;
    color: #53555a; }
  .info-news .fa {
    color: #bfbfbf;
    font-size: 12px; }
  .info-news .important-label,
  .info-news .updated-label {
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    font: 10px/1.4em "Open Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f61e1e;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .info-news .updated-label {
    background-color: #7ca5e2; }

.stories-page,
.project-page {
  padding-top: 60px;
  padding-bottom: 60px; }
  .stories-page h1,
  .project-page h1 {
    margin-bottom: 40px;
    text-align: center; }

aside {
  font: 16px GothamProBold; }
  aside .item-project {
    position: relative;
    margin-bottom: 25px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden; }
    aside .item-project img {
      display: block; }
    aside .item-project .dark-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 15px;
      color: #ffffff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
      background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%); }

.blog-nav {
  text-align: center;
  font: 14px/2.5em GothamProBold;
  color: #696e72; }
  .blog-nav .page-numbers {
    margin: 0 10px;
    display: inline-block;
    padding: 0 1em;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .blog-nav .current {
    color: #ffffff;
    background-color: #f6921e; }
  .blog-nav .prev,
  .blog-nav .next {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  .blog-nav a {
    color: inherit; }
    .blog-nav a:hover {
      color: #f6921e; }

.title-section {
  padding: 100px 0;
  color: #ffffff;
  text-align: center;
  overflow: hidden; }
  .title-section h1 {
    margin-bottom: 30px;
    font: 48px/1.2em GothamProBlack; }
  .title-section p {
    font: 22px/1.5em "Open Sans", sans-serif;
    opacity: 0.8; }

.content-regular-page {
  padding-top: 80px;
  padding-bottom: 90px;
  font: 18px/1.7em "Open Sans", sans-serif;
  color: #242729; }
  .content-regular-page strong {
    font-weight: 700; }
  .content-regular-page h2,
  .content-regular-page h3 {
    margin-bottom: 20px; }
  .content-regular-page h1 {
    margin-bottom: 20px;
    color: #171617; }
  .content-regular-page h2 {
    font: bold 2em/1.2em "Open Sans", sans-serif; }
  .content-regular-page h3 {
    font: bold 1.5em/1.2em "Open Sans", sans-serif; }
  .content-regular-page p,
  .content-regular-page br {
    margin-bottom: 30px; }

.site-header {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 30px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .site-header .flex-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .site-header .site-title {
    width: 154px;
    height: 40px;
    overflow: hidden; }
  .site-header .menu-toggle {
    font-size: 1.5em;
    background-color: transparent;
    border: none; }
  .site-header .main-navigation {
    width: auto;
    font: 16px/1.8em GothamProBold;
    text-transform: uppercase; }
    .site-header .main-navigation a {
      margin: 0 15px;
      color: #171617;
      border-bottom: 2px solid transparent; }
      .site-header .main-navigation a:hover {
        border-bottom: 2px solid #f6921e; }
  .site-header .current_page_item a {
    border-bottom: 2px solid #f6921e; }

header.sticky {
  padding: 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.site-footer {
  color: #ffffff;
  background-color: #303d4a; }
  .site-footer .site-info-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #44505b; }
  .site-footer .widget_nav_menu {
    margin-bottom: auto;
    margin-top: auto; }
    .site-footer .widget_nav_menu li {
      display: inline-block; }
    .site-footer .widget_nav_menu a {
      padding: 10px;
      font: 14px GothamProBold;
      color: inherit;
      text-transform: uppercase; }
  .site-footer .link-donate {
    border-color: transparent;
    background-color: #ffffff; }
    .site-footer .link-donate:hover {
      background-color: #f61e1e; }
  .site-footer .site-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
  .site-footer .site-title {
    width: 155px;
    height: 40px;
    overflow: hidden; }
  .site-footer .copyright {
    font: 14px "Open Sans", sans-serif;
    color: #a6b6c8; }

.section {
  padding: 60px 0; }

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .section-header h1, .section-header h2 {
    font: 22px/1em GothamProBlack;
    margin-right: 2em; }
  .section-header .link-all-articles {
    padding-bottom: 5px;
    font: 14px "Open Sans", sans-serif;
    font-weight: 700;
    color: inherit;
    border-bottom: 4px solid #f6921e; }
    .section-header .link-all-articles:after {
      content: "\f061";
      margin-left: 1em;
      font-family: FontAwesome; }

.img-wrapper {
  width: 100%;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }
  .img-wrapper img {
    width: 100%;
    height: auto;
    display: block; }

.top-block .last-news {
  background-color: #ffffff; }
  .top-block .last-news .wrapper {
    width: 100%;
    padding: 0 30px;
    color: #171617; }
    .top-block .last-news .wrapper h2,
    .top-block .last-news .wrapper article {
      padding: 25px 0;
      border-bottom: 1px solid #dedede; }
    .top-block .last-news .wrapper h2 {
      display: none;
      font: 18px GothamProBold;
      text-transform: uppercase; }
    .top-block .last-news .wrapper a.title {
      font: 14px GothamProRegular;
      color: inherit; }
    .top-block .last-news .wrapper a.important-title {
      font: 14px GothamProBold; }
  .top-block .last-news .bottom-wrapper {
    padding: 0 30px;
    text-align: center;
    background-color: #f6921e; }
  .top-block .last-news .link-all-articles {
    display: inline-block;
    font: 14px/4.5em GothamProBold;
    color: #ffffff;
    text-transform: uppercase; }
    .top-block .last-news .link-all-articles:after {
      content: "\f061";
      margin-left: 1em;
      font-family: FontAwesome; }

.welcome-section {
  padding: 60px 0 30px;
  color: #ffffff; }
  .welcome-section h1 {
    margin-bottom: 25px;
    font: 24px GothamProBlack; }
  .welcome-section p {
    margin-bottom: 35px;
    font: 18px "Open Sans", sans-serif;
    opacity: 0.8; }

.important-news-section .item-important-posts {
  margin-bottom: 60px;
  height: 340px;
  cursor: pointer; }
  .important-news-section .item-important-posts .item-wrapper {
    height: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee; }
  .important-news-section .item-important-posts .img-wrapper {
    height: 146px; }
  .important-news-section .item-important-posts h3 {
    margin-bottom: 10px;
    font: 18px/1.3em GothamProBold;
    color: #343434; }
  .important-news-section .item-important-posts p {
    font: 14px/1.5em "Open Sans", sans-serif;
    color: #696e72; }

.front-story-section {
  color: #ffffff; }
  .front-story-section .section-header {
    opacity: 0.75; }
  .front-story-section h1 {
    font: 24px/1.2em GothamProBlack;
    margin-bottom: 30px; }
  .front-story-section p {
    margin-bottom: 30px;
    font: 18px/1.5em "Open Sans", sans-serif;
    opacity: 0.8; }

.section-donate {
  text-align: center; }
  .section-donate h1 {
    margin-bottom: 30px;
    font: 20px GothamProBold;
    color: #171617; }

.front-project-section {
  background-color: #eff2f7; }
  .front-project-section .first-item-project {
    display: none; }
  .front-project-section .item-project {
    height: 390px;
    cursor: pointer; }
  .front-project-section h3 {
    margin-bottom: 10px;
    font: 18px GothamProBold;
    color: #343434; }
  .front-project-section p {
    opacity: 0.8;
    font: 14px/1.5em "Open Sans", sans-serif;
    color: #3e4144; }

.front-social-section {
  text-align: center; }
  .front-social-section h1 {
    margin-bottom: 30px;
    font: 20px GothamProBold;
    color: #171617; }
  .front-social-section h2 {
    margin-bottom: 20px;
    font: 14px GothamProBold;
    color: #171617; }
  .front-social-section #text-5 {
    text-align: center; }
    .front-social-section #text-5 .wrapper {
      padding: 45px 15px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      border: 1px solid #e2e7eb; }
    .front-social-section #text-5 .color {
      color: #f61e1e; }

.page-news {
  padding-top: 60px;
  padding-bottom: 120px;
  color: #171617;
  font: 20px GothamProRegular; }
  .page-news .row {
    margin: 0 -40px; }
  .page-news main,
  .page-news aside {
    padding: 0 40px; }
  .page-news aside h1 {
    margin-bottom: 30px; }
  .page-news h1 {
    font: 48px GothamProBlack; }
  .page-news .more-news {
    display: block;
    width: 100%;
    margin-top: -4px;
    padding: 0 10px;
    font: 14px/4.5em GothamProBold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #f6921e;
    border: none;
    -webkit-border-radius: 8px;
            border-radius: 8px; }
    .page-news .more-news:after {
      content: "\f063";
      margin-left: 1em;
      font-family: FontAwesome; }
  .page-news .blog-nav {
    margin-top: 50px; }

.list-news li {
  padding: 30px 0;
  border-bottom: 1px solid  #eeeeee; }
  .list-news li article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .list-news li article a {
      color: inherit; }

.list-news .info-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  margin-right: 45px; }
  .list-news .info-news .time,
  .list-news .info-news time {
    margin-right: 0;
    font: 16px "Open Sans", sans-serif;
    font-weight: 700;
    color: #a6b6c8; }
  .list-news .info-news .important-label,
  .list-news .info-news .updated-label {
    margin-bottom: 7px;
    margin-right: 0;
    text-align: center;
    font-size: 11px; }

.list-news .important {
  font-family: GothamProBold; }

.list-news .fa {
  color: #bfbfbf;
  font-size: 12px; }

.list-stories li,
.list-episodes li {
  cursor: pointer;
  margin-bottom: 60px; }
  .list-stories li article,
  .list-episodes li article {
    height: 320px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee; }
  .list-stories li h2,
  .list-episodes li h2 {
    margin-bottom: 10px;
    font: 20px/1.2em GothamProBold;
    color: #343434; }
  .list-stories li p,
  .list-episodes li p {
    font: 14px/1.5em "Open Sans", sans-serif;
    color: #696e72; }
  .list-stories li article.big,
  .list-episodes li article.big {
    padding: 0;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    overflow: hidden; }
    .list-stories li article.big .dark-bg,
    .list-episodes li article.big .dark-bg {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 25px;
      background: rgba(0, 0, 0, 0.5); }
    .list-stories li article.big h2,
    .list-episodes li article.big h2 {
      margin-bottom: 10px;
      font-size: 24px;
      color: #ffffff; }
    .list-stories li article.big p,
    .list-episodes li article.big p {
      font-size: 16px;
      color: #ffffff; }

.project-page .blog-nav {
  margin-top: 60px; }

.list-projects .item-project {
  margin-bottom: 60px;
  color: #3e4144;
  cursor: pointer; }
  .list-projects .item-project .small-content {
    height: 380px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden; }
  .list-projects .item-project h3 {
    margin-bottom: 10px;
    font: 24px/1.2em GothamProBold; }
  .list-projects .item-project p {
    font: 16px/1.5em "Open Sans", sans-serif;
    opacity: 0.8; }

.list-projects .big-item-project {
  margin-bottom: 60px;
  padding: 0;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  cursor: pointer; }
  .list-projects .big-item-project .content-block {
    height: 450px; }
  .list-projects .big-item-project .dark-bg {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden; }
  .list-projects .big-item-project h3 {
    margin-bottom: 10px;
    font: 64px/1.2em GothamProBlack; }
  .list-projects .big-item-project p {
    font: 22px/1.5em "Open Sans", sans-serif; }

.project-title-section {
  position: relative;
  padding: 70px 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .project-title-section .dark-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    -webkit-filter: blur(7px);
            filter: blur(7px); }
  .project-title-section .type {
    margin-bottom: 30px;
    font: 16px GothamProBold;
    opacity: 0.5;
    text-transform: uppercase; }

.single-project-page {
  padding-top: 80px;
  padding-bottom: 120px; }

.about-page h1 {
  margin-bottom: 60px;
  text-align: center; }

.team-section {
  padding: 120px 0 0; }
  .team-section h1 {
    color: #171617; }
  .team-section ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .team-section li {
    margin-bottom: 60px; }
  .team-section article {
    height: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee; }
  .team-section img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .team-section h3 {
    margin-bottom: 10px;
    font: 18px/1.5em GothamProBold;
    color: #343434; }
  .team-section p {
    font: 14px/1.5em "Open Sans", sans-serif;
    color: #696e72; }

.contacts-section {
  padding: 70px 0 120px; }
  .contacts-section h1 {
    color: #171617; }
  .contacts-section address {
    margin-bottom: 50px; }
    .contacts-section address li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 16px; }
    .contacts-section address .fa {
      margin-bottom: 15px;
      font-size: 3em;
      color: #f6921e; }
    .contacts-section address .label-name {
      margin-bottom: 10px;
      font: 18px/1.5em GothamProBold;
      color: #343434; }
    .contacts-section address p {
      font: 1em/1.5em "Open Sans", sans-serif;
      color: #696e72; }
      .contacts-section address p a {
        color: inherit; }
        .contacts-section address p a:hover {
          color: #f6921e; }
    .contacts-section address .link-mail {
      display: inline-block;
      color: #f6921e;
      border-bottom: 1px solid #f6921e; }
      .contacts-section address .link-mail:hover {
        color: #696e72; }
  .contacts-section .center-li {
    position: relative; }
    .contacts-section .center-li:after, .contacts-section .center-li:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 2px;
      height: 50px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #eeeeee; }
    .contacts-section .center-li:before {
      left: 0; }
    .contacts-section .center-li:after {
      right: 0; }

.article-header {
  color: #171617; }
  .article-header .header-wrap {
    width: 770px;
    margin: 0 auto;
    text-align: center; }
  .article-header h1 {
    margin-bottom: 30px;
    font: 50px/1.4em GothamProBlack; }
  .article-header p {
    margin-bottom: 30px;
    font: 22px/1.5em "Open Sans", sans-serif;
    color: #696e72; }
  .article-header time {
    font: bold 12px/1.7em "Open Sans", sans-serif;
    color: #a6b6c8;
    text-transform: uppercase; }
  .article-header .video-wrap {
    background-color: #eff2f7; }
    .article-header .video-wrap iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%; }

.img-header {
  padding: 140px 0;
  color: #ffffff; }
  .img-header p {
    opacity: 0.8;
    color: #ffffff; }
  .img-header time {
    opacity: 0.5;
    color: #ffffff; }

.clear-header {
  padding: 80px 0 0; }

.video-header {
  padding: 90px 0 0; }
  .video-header .header-wrap {
    margin-bottom: 65px; }

.single-content {
  width: 100%;
  padding-top: 70px;
  font: 18px/1.7em "Open Sans", sans-serif;
  color: #242729; }
  .single-content p, .single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content ul, .single-content ol {
    width: 770px;
    margin: 0 auto; }
  .single-content strong {
    font-size: 20px;
    font-weight: 700; }
  .single-content a {
    display: inline-block;
    color: #f61e1e;
    border-bottom: 1px solid #f61e1e; }
    .single-content a:hover {
      color: #242729; }
  .single-content h1,
  .single-content h2,
  .single-content h3 {
    margin-bottom: 20px;
    color: #121212; }
  .single-content h1 {
    font: bold 2.2em/1.2em "Open Sans", sans-serif; }
  .single-content h2 {
    font: bold 2em/1.2em "Open Sans", sans-serif; }
  .single-content h3 {
    font: bold 1.5em/1.2em "Open Sans", sans-serif; }
  .single-content p,
  .single-content br,
  .single-content ul,
  .single-content ol,
  .single-content pre {
    margin-bottom: 30px; }
  .single-content ul, .single-content ol {
    list-style: auto;
    padding-left: 50px; }
  .single-content pre {
    background-color: transparent; }
  .single-content img.size-full {
    width: 100% !important;
    max-width: 100% !important; }
  .single-content img.size-large {
    display: block;
    width: 970px;
    margin: 0 auto; }
  .single-content img.size-medium {
    display: block;
    width: 770px;
    margin: 0 auto; }
  .single-content .gallery .gallery-item {
    padding: 0 15px; }
    .single-content .gallery .gallery-item a {
      cursor: initial; }
  .single-content .gallery a {
    border: 0; }
  .single-content .gallery .slick-dots {
    position: absolute;
    top: 5px;
    left: 5px;
    background: yellow;
    padding: 5px;
    opacity: 0.8;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .single-content .gallery .slick-next {
    position: absolute;
    right: 4%; }
    .single-content .gallery .slick-next:before {
      font-size: 30px;
      opacity: 1; }
      .single-content .gallery .slick-next:before:hover {
        opacity: 0.8; }

@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0; }
  .section-header {
    margin-bottom: 60px; }
    .section-header h1, .section-header h2 {
      font: 48px/1em GothamProBlack;
      margin-right: 2em; }
  .site-header {
    padding: 35px 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
    .site-header .flex-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .site-header .site-title {
      width: 194px;
      height: 50px;
      overflow: hidden; }
    .site-header .main-navigation {
      width: auto;
      font: 16px/1.8em GothamProBold;
      text-transform: uppercase; }
      .site-header .main-navigation a {
        margin: 0 15px;
        color: #171617;
        border-bottom: 2px solid transparent; }
        .site-header .main-navigation a:hover {
          border-bottom: 2px solid #f6921e; }
    .site-header .current_page_item a {
      border-bottom: 2px solid #f6921e; }
  .top-block .last-news {
    position: relative; }
    .top-block .last-news .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 0;
      color: #171617; }
      .top-block .last-news .wrapper h2,
      .top-block .last-news .wrapper article {
        width: 33.3%;
        padding: 30px 15px 10px;
        border-bottom: 1px solid #dedede;
        height: 200px;
        border-right: 1px solid #dedede; }
      .top-block .last-news .wrapper a.title {
        font: 14px GothamProRegular;
        color: inherit; }
      .top-block .last-news .wrapper a.important-title {
        font: 14px GothamProBold; }
    .top-block .last-news .bottom-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 33.6%;
      height: 200px;
      padding: 0 35px; }
  .welcome-section {
    padding: 70px 0;
    color: #ffffff; }
    .welcome-section .flex-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .welcome-section h1 {
      margin-bottom: 25px;
      font: 50px GothamProBlack; }
    .welcome-section p {
      margin-bottom: 45px;
      font: 22px "Open Sans", sans-serif;
      opacity: 0.8; }
  .important-news-section {
    padding-bottom: 60px; }
    .important-news-section .item-important-posts {
      height: 380px; }
      .important-news-section .item-important-posts .img-wrapper {
        height: 185px; }
      .important-news-section .item-important-posts p {
        font: 16px/1.5em "Open Sans", sans-serif; }
  .front-story-section h1 {
    font-size: 62px;
    margin-bottom: 0; }
  .front-story-section p {
    margin-bottom: 50px;
    font-size: 22px; }
  .section-donate h1 {
    font-size: 26px; }
  .front-project-section .first-item-project {
    display: block;
    margin-bottom: 60px; }
    .front-project-section .first-item-project .bg {
      position: relative;
      height: 390px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      overflow: hidden; }
    .front-project-section .first-item-project .content {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 40px; }
    .front-project-section .first-item-project h3, .front-project-section .first-item-project p {
      color: #ffffff; }
    .front-project-section .first-item-project p {
      opacity: 0.8; }
  .front-project-section .hidden-tablet {
    display: none; }
  .front-project-section h3 {
    font-size: 24px; }
  .front-project-section p {
    font-size: 16px; }
  .front-social-section h1 {
    margin-bottom: 30px;
    font-size: 26px; }
  .site-footer .site-info-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0; }
  .site-footer .widget_nav_menu {
    width: 100%;
    margin-bottom: 30px;
    margin-top: auto; }
    .site-footer .widget_nav_menu ul {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .site-footer .widget_nav_menu li {
      display: inline-block; }
    .site-footer .widget_nav_menu a {
      display: inline-block;
      padding: 10px;
      font: 12px GothamProBold; }
  .site-footer .site-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
  .site-footer .site-title {
    width: 155px;
    height: 40px;
    overflow: hidden; }
  .site-footer .copyright {
    font: 14px "Open Sans", sans-serif;
    color: #a6b6c8; } }

@media screen and (min-width: 992px) {
  .top-block {
    height: -webkit-calc(100vh - 140px);
    height: calc(100vh - 140px);
    max-height: 800px;
    min-height: 500px;
    position: relative; }
    .top-block .last-news {
      position: absolute;
      width: 640px;
      max-width: 33%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      overflow: hidden; }
      .top-block .last-news .wrapper {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 35px 120px; }
        .top-block .last-news .wrapper h2,
        .top-block .last-news .wrapper article {
          width: 100%;
          height: auto;
          padding: 20px 0;
          border: none;
          border-bottom: 1px solid #dedede; }
        .top-block .last-news .wrapper h2 {
          display: block; }
        .top-block .last-news .wrapper a.title {
          font-size: 20px;
          color: inherit; }
        .top-block .last-news .wrapper a.important-title {
          font-size: 20px; }
      .top-block .last-news .bottom-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        height: auto;
        padding: 0 35px;
        text-align: left; }
  .welcome-section {
    height: 100%;
    color: #ffffff; }
    .welcome-section .flex-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .welcome-section h1 {
      margin-bottom: 25px;
      font: 50px GothamProBlack; }
    .welcome-section p {
      margin-bottom: 45px;
      font: 22px "Open Sans", sans-serif;
      opacity: 0.8; }
  .important-news-section {
    padding-bottom: 120px; }
    .important-news-section .item-important-posts {
      margin-bottom: 0; }
      .important-news-section .item-important-posts .img-wrapper {
        height: 152px; }
  .front-project-section .first-item-project {
    display: none; }
  .front-project-section .hidden-tablet {
    display: block; }
  .front-project-section h3 {
    font-size: 24px; }
  .front-project-section p {
    font-size: 16px; }
  .site-footer .site-info-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .site-footer .widget_nav_menu {
    width: auto;
    margin-bottom: auto; }
    .site-footer .widget_nav_menu li {
      display: inline-block; }
    .site-footer .widget_nav_menu a {
      font: 14px GothamProBold; }
  .site-footer .site-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
  .site-footer .site-title {
    width: 155px;
    height: 40px;
    overflow: hidden; }
  .site-footer .copyright {
    font: 14px "Open Sans", sans-serif;
    color: #a6b6c8; } }
