@media screen and (min-width: 992px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .site-content {
    padding-top: 130px;
  }

  .content-regular-page {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .single-project-page {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  //--------------------------------HEADER----------------------
  .site-header {
    .si-icons-default {
      display: none;
    }

    .main-navigation {
      display: block;
    }

    .toggle-menu {
      display: flex;
      align-items: center;
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      text-align: left;
      box-shadow: none;

      &:before {
        display: none;
      }

      .social-link {
          margin: auto;
          margin-right: 30px;
      }

      .menu,
      .menu-search-container  {
        display: none;
      }
    }

    // ----------------------------
    // NAV Search Form
    // ----------------------------

    #menu-search {
      margin: 0;
    }

    .menu-search-container  {
      left: 25%;
      width: 50%;
    }
  }



  //--------Scroll button ------------------------
  //---------------------------------------------
  #up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
  }


  //-----------------------------------------------------
  //------------------------HOME-PAGE--------------------
  //-----------------------------------------------------

  //-------------------------WELCOME---------------------
  .top-block {
    height: calc(100vh - 140px);
    max-height: 800px;
    min-height: 500px;
    position: relative;

    .last-news {
      position: absolute;
      width: 640px;
      max-width: 33%;
      top:0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      overflow: hidden;

      .wrapper {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 0 30px 120px;

        h2 {
          display: block;
          width: 100%;
          height: auto;
          padding: 30px 0;
          border: none;
          border-bottom: 1px solid #dedede;
        }

        article {
          width: 100%;

          .item-news {
            display: block;
            height: auto;
            padding: 30px 0;
            border: none;
            border-bottom: 1px solid #dedede;

          }
        }

        h2 {
          display: block;
        }

        h3.title {
          font-size: 20px;
          color: inherit;
        }

        h3.important-title {
          font-size: 20px;
        }
      }

      .bottom-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        height: auto;
        padding: 0 35px;
        text-align: left;
      }

      .link-all-articles {
      }
    }
  }

  .welcome-section {
    height: 100%;
    color: #ffffff;

    .bg-dark {
      height: 100%;
      padding:0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .flex-block {
      display: flex;
      height: 100%;
      align-items: center;
    }

    h2 {
      margin-bottom: 25px;
      font: 50px GothamProBlack;
    }

    p {
      margin-bottom: 45px;
      font: 22px $font-content;
      opacity: 0.8;
    }
  }

  //-------------------------IMPORTANT-NEWS---------------------
  .important-news-section {
    padding-bottom: 120px;

    .item-important-posts {
      margin-bottom: 0;
    }
  }

  //-------------------------STORY-SECTION---------------------
  .front-story-section  {
    .section-header {
      margin-bottom: 110px;
    }

    .title {
      margin-bottom: 25px;
    }
  }

  //-------------------------PROJECT-SECTION---------------------
  .front-project-section {

    .first-item-project {
      display: none;
    }

    .hidden-tablet{
      display: block;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  //-------------------------SOCIAL-SECTION---------------------
  .front-social-section {
    li {
      margin-bottom: 0;
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }


  //-----------------------------------------------------
  //------------------------NEWS-PAGE--------------------
  //-----------------------------------------------------

  .page-news {

    aside {
      display: block;
    }

    main
    {
      padding-right: 65px;
    }
  }

  .list-news {
    .info-news {
      margin-right: 45px;
    }
  }

  //---------------------------------------------
  //------------DONATE (+REPORT) PAGE------------
  //---------------------------------------------

  .donate-content,
  .reports-content {

    .block {
      padding: 60px 40px;

      h2 {
        margin-bottom: 20px;
      }
    }

    .online-payment {
      form {
        width: 90%;
      }

      .payment {
        font: 15px/3em GothamProBold;
      }
    }
  }


  //-------------------------FOOTER---------------------
  .site-footer {

    .site-info-top {
      flex-direction: row;
    }

    .widget_nav_menu {
      width: auto;
      margin-bottom: auto;

      ul {
        li {
          display: inline-block;
        }

        a {
          padding: 10px 20px;
          font: 14px GothamProBold;
        }
      }
    }
  }
}