@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }

  .section-header {
    margin-bottom: 60px;

    h1, h2 {
      font: 48px/1em GothamProBlack;
      margin-right: 2em;
    }
  }

  //--------------------------------HEADER----------------------
  .site-header {
    padding: 40px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .flex-block {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .site-title {
      width: 194px;
      height: 50px;
      overflow: hidden;
    }

    .main-navigation {
      width: auto;
      font: 16px/1.8em GothamProBold;
      text-transform: uppercase;


      a {
        margin: 0 15px;
        color: #171617;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid #f6921e;
        }
      }
    }

    .current_page_item {
      a {
        border-bottom: 2px solid #f6921e;
      }
    }
  }



  //-------------------------WELCOME---------------------

  .top-block {

    .last-news {
      position: relative;
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        color: #171617;

        h2,
        article {
          width: 33.3%;
          padding: 30px 15px 10px;
          border-bottom: 1px solid #dedede;
          height: 200px;
          border-right: 1px solid #dedede;
        }

        a.title {
          font: 14px GothamProRegular;
          color: inherit;
        }

        a.important-title {
          font: 14px GothamProBold;
        }
      }

      .bottom-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.6%;
        height: 200px;
        padding: 0 35px;

      }

      .link-all-articles {
      }
    }
  }

  .welcome-section {
    padding: 70px 0;
    color: #ffffff;

    .flex-block {
      display: flex;
      height: 100%;
      align-items: center;
    }

    h1 {
      margin-bottom: 25px;
      font: 50px GothamProBlack;
    }

    p {
      margin-bottom: 45px;
      font: 22px $font-content;
      opacity: 0.8;
    }
  }

  //-------------------------IMPORTANT-NEWS---------------------
  .important-news-section {
    padding-bottom: 60px;

    .item-important-posts {
      height: 380px;

      .img-wrapper {
        height: 185px;
      }

      p {
        font: 16px/1.5em $font-content;
      }
    }
  }

  //-------------------------STORY-SECTION---------------------
  .front-story-section  {

    h1 {
      font-size: 62px;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 50px;
      font-size: 22px;
    }
  }

  //-------------------------SECTION-DONATE---------------------
  .section-donate {
    h1 {
      font-size: 26px;
    }
  }

  //-------------------------PROJECT-SECTION---------------------
  .front-project-section {

    .first-item-project {
      display: block;
      margin-bottom: 60px;

      .bg {
        position: relative;
        height: 390px;
        border-radius: 5px;
        overflow: hidden;
      }

      .content {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 40px;
      }

      h3, p {
        color: #ffffff;
      }

      p {
        opacity: 0.8;
      }
    }

    .hidden-tablet{
      display: none;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  //-------------------------SOCIAL-SECTION---------------------
  .front-social-section {

    h1 {
      margin-bottom: 30px;
      font-size: 26px;
    }

  }

  //-------------------------FOOTER---------------------
  .site-footer {

    .site-info-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
    }

    .widget_nav_menu {
      width: 100%;
      margin-bottom: 30px;
      margin-top: auto;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      li {
        display: inline-block;
      }

      a {
        display: inline-block;
        padding: 10px;
        font: 12px GothamProBold;
      }
    }

    .site-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }

    .site-title {
      width: 155px;
      height: 40px;
      overflow: hidden;
    }

    .copyright {
      font: 14px $font-content;
      color: #a6b6c8;
    }

  }
}