@media screen and (min-width: 992px) {
  .container {
    padding: 0;
  }

  .stories-page,
  .project-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .site-content {
    padding-top: 130px;
  }

  .content-regular-page {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .single-project-page {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  //--------------------------------HEADER----------------------
  .site-header {
    .burger {
      display: none;
    }

    .toggle-menu {
      display: flex;
      align-items: center;
      position: static;
      width: auto;
      padding: 0;
      text-align: left;
      box-shadow: none;

      .social-link {
          margin-right: 30px;
      }
    }
  }

  //-------------------------WELCOME---------------------

  .top-block {
    height: calc(100vh - 140px);
    max-height: 800px;
    min-height: 500px;
    position: relative;

    .last-news {
      position: absolute;
      width: 640px;
      max-width: 33%;
      top:0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      overflow: hidden;

      .wrapper {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 0 30px 120px;

        h2 {
          display: block;
          width: 100%;
          height: auto;
          padding: 30px 0;
          border: none;
          border-bottom: 1px solid #dedede;
        }

        article {
          .item-news {
            display: block;
            width: 100%;
            height: auto;
            padding: 30px 0;
            border: none;
            border-bottom: 1px solid #dedede;

          }
        }

        h2 {
          display: block;
        }

        h3.title {
          font-size: 20px;
          color: inherit;
        }

        h3.important-title {
          font-size: 20px;
        }
      }

      .bottom-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        height: auto;
        padding: 0 35px;
        text-align: left;
      }

      .link-all-articles {
      }
    }
  }

  .welcome-section {
    height: 100%;
    color: #ffffff;

    .bg-dark {
      height: 100%;
      padding:0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .flex-block {
      display: flex;
      height: 100%;
      align-items: center;
    }

    h1 {
      margin-bottom: 25px;
      font: 50px GothamProBlack;
    }

    p {
      margin-bottom: 45px;
      font: 22px $font-content;
      opacity: 0.8;
    }
  }

  //-------------------------IMPORTANT-NEWS---------------------
  .important-news-section {
    padding-bottom: 120px;

    .item-important-posts {
      margin-bottom: 0;
    }
  }

  //-------------------------STORY-SECTION---------------------
  .front-story-section  {
    .section-header {
      margin-bottom: 110px;
    }

    h1 {
      margin-bottom: 25px;
    }
  }

  //-------------------------PROJECT-SECTION---------------------
  .front-project-section {

    .first-item-project {
      display: none;
    }

    .hidden-tablet{
      display: block;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  //-------------------------FOOTER---------------------
  .site-footer {

    .site-info-top {
      flex-direction: row;
    }

    .widget_nav_menu {
      width: auto;
      margin-bottom: auto;

      li {
        display: inline-block;
      }

      a {
        padding: 10px 20px;
        font: 14px GothamProBold;
      }
    }
  }
}

//------------------page-news------------------
.page-news {
  padding-top: 60px;
  padding-bottom: 120px;
}